<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/logo.png" type="image/icon type">
    <link rel="stylesheet" href="/static/css/404.css">
    <title>404 Error</title>
</head>
<body>
    <div id="404-error">
        <div class="image-heading-container">  
            <img class="left-image" src="/static/logo.png" alt="Logo"/>
            <h2>Uh-oh!</h2>
            <img class="right-image" src="/static/logo.png" alt="Logo"/>
        </div>
        <p>Looks like this page has abnormal levels of...nothing</p>
    </div>
</body>
</html>